.test
{
	border: 1px solid black;
}


.container
{
	padding: 0px;
}

#site-name
{
	max-width: 780px;
	height: 120px;
	text-align: center;
	margin: 0px auto;
}

#site-name h1
{
	font-size: 48px;
	line-height: 40px;
}

#navbar
{
	
	font-size: 18px;
	text-align: center;
}

.section-name
{
	
	border-bottom: 1px solid black;
	padding-top: 70px;
}

.section-name
{
	text-align: center;
	font-size: 24px;
	border-bottom: 
}

.projects
{
	padding-top: 30px;
}
.project-picture
{
	
}
.project-picture > img
{
	width: 220px;
	height: 140px;
}
/*
#navbar nav, #navbar ul, #navbar li, #navbar a
{
	line-height: 1em;
	list-style: none;
	font-size: 18px;
	position: relative;
	margin-bottom: 0px;
	text-align: center;
	
}

#navbar li 
{
	display: inline-block;
	padding: 20px 40px;
}

#navbar li a
{
	color: #6b6b6b;
	display: block;
}
*/

