body
{
	padding-top: 10px;
	padding-bottom: 10px;
    background: #29504E;
    font-family: "Nunito", "Helvetica Neue", Arial, sans-serif;
}

.container
{
    position: relative;
    width: 960px;
    padding: 0;
    background: #293F50;
    margin: 0 auto;
    margin-top: 43px;
    min-height: 800px;
}

.columns
{
    padding-left: 10px;
   padding-right: 10px;
}

.tab-pane h4
{
    text-align: center;
    margin-top: 40px;
    color: #eaeaed;
    margin-bottom: -24px;
}
.tab-pane p
{
    text-align: center;
    margin-top: 40px;
    color: #eaeaed;
}

.nav-pills > li > a 
{
  border-radius: 2px;
    color: #fff;
}

.nav-pills > li > a:hover
{
    background: none;
    color: orange;
}

.nav-pills > li.active > a
{
    background: #4b9484;
}
	
h3 
{
  margin-top: 0;
  margin-bottom: 0;
    line-height: 40px;
    border-bottom: 2px inset #fff;
}

header
{
    margin-top: 12px;
    color: white;
}

.jumbotron
{
	margin: 0 auto;
	width: 560px;
    height: auto;
	text-align: center;
	margin-top: 60px; 
    background:#eaeaed;
    color: #293F50;
    padding-top: 36px;
}

.jumbotron h2
{
    font-size: 50px;
}
.jumbotron p
{
    position: relative;
    bottom: 40%;
    color: #293F50;
    font-style: italic;
    
}

footer 
{
    position: absolute;
    text-align: center;
    border-top: 20px;
    background:#eaeaed;
    bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 10px;
    left: 10px;
}